a {
  color: #f09770;
}
body { 
  background-color: #3c2811;
  color: #f7ecc4;
  font-size: 18px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-top: 5pt;
  margin-bottom: 5pt;
  margin-right: 180pt;
  margin-left: 180pt; 
}

table {
  width: 100%;
  font-size: 18px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
hr {
  height: 3px;
  background-color: #f7ecc4;
}
img {
  display: block;
  margin: auto;
}
h1 {
  font-size: 28px;
  margin-bottom: 4px;
}
h2 {
margin-bottom: 8px;
}
p {
margin-top:0;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f09770;
  color: #f7ecc4;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #f7ecc4;
  color: #3c2811;
}
@media screen and (max-width:1080px) {
  body {
    font-size: 18px;
	margin-right: 16px;
    margin-left: 16px; 
  }
  img {
    width: 100%;
    height: auto;
  }
  table {
    font-size: 16px;
  }
  h1 {
	font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
}
