a {
  color: #f09770;
}

body { 
  background-color: #3c2811;
  color: #f7ecc4;
  font-size: 18px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-top: 5pt;
  margin-bottom: 5pt;
  margin-right: 180pt;
  margin-left: 180pt; 
}

blockquote {
  border-left: 8px solid #f09770;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #f09770;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

h1 {
  font-size: 28px;
  margin-bottom: 4px;
}

h2 {
margin-bottom: 8px;
}

hr {
  height: 3px;
  background-color: #f7ecc4;
}

img {
  display: block;
  margin: auto;
}

p {
margin-top:0;
}

table {
  width: 100%;
  font-size: 18px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

ul {
  padding-left: 20px;
  line-height: 1.8;
}

.attt th {
  width: 36%;
}

.copyright {
	font-size: 15px;
}

.examplelabel {
	font-weight: bold;
	font-size: 20px;
}

.magictab {
	width: 10%;
}

.xptable {
	width: 40%; 
	margin-left: auto; 
	margin-right: auto;
}

.xptable td {
	text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f09770;
  color: #f7ecc4;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #f7ecc4;
  color: #3c2811;
}
@media screen and (max-width:1080px) {
  body {
	margin-right: 16px;
    margin-left: 16px; 
  }
  h1 {
	font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  img {
    width: 100%;
    height: auto;
  }
  table {
    font-size: 16px;
  }
  .xptable {
	width: 60%; 
	margin-left: auto; 
	margin-right: auto;
  }
}
